

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
   font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

 

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
    


nav ul{
        display: flex ;
        align-items: center;
    
    
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul li{
list-style: none;
margin-right: 51px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
    
}
/* header styles */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-greetings{
font-size: 45px;
font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-description{
    font-size: 18px;
    color: #757575;
}

 .banner-profile-pic{
    width: 580px;
    height: 676px;
 }
  
    .banner-content{
max-width: 585px;
    }
    
    









/* shared styles */
.colour{
    color: #FD6E0A;
}

.dark-02{
    color: #474747;
  }
  
  .btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;

  }

  .text-center{
    text-align: center;
  }

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
  margin-top: 130px;
  margin-bottom: 130px;
}

/* about styles */
  .about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    


  }
  .about-items{
    display: flex;
    justify-content: space-around;
  }
.item-title{
    font-size: 20px;
    font-weight: bold;
    color: #757575;
}
  .item-description{
    font-size: 20px;
    font-weight: 600;
  }
/* skill styles */

.skills-container{
    display: flex;
    gap: 24px;}


  .skill{
    padding: 104px 33px 30px 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
  }

  .skill-title{
    font-size: 20px;
    font-weight: bold;
    color:#181818
  }

  .skill-description{
    font-size: 16px;
    color: #757575;
  }
  /* section styles */
.section-title{
    font-size: 35px;
    
    color:#181818 ;
}
.section-description{
    font-size: 18px;
    color: #757575;
}

.secondary-bg-colour{
    background-color:#FFF8F3 ;
}

/* resume  section styles */

.resume-container{
  display: flex;
  gap: 24px;
}

.resume-column-title{
  font-size: 30px;
  font-weight: bold;
  color: #474747;
}
.experience-title{
  font-size: 25px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 10px;
  
}

.experience-sub-title{
  font-size: 20px;
font-weight: 600px;
  color: #757575;
  margin-bottom: 20px;
}
.experience-description{
  font-size: 16px;
  font-weight: 400;
  color: #757575;
 
}

.resume hr {
  margin: 30px 5px;
}

.resume-cv-download{
  margin-top: 50px;
}






